.navProfil{
    display: flex;
    gap: 50px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}
.navProfil p{
    color: #737373;
}
.navProfil .active p{
    color: black;
    font-weight: 600;
    border-bottom: 1px solid black;
}