.clickStory{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.952);
    z-index: 111;
    display: grid;
    place-items: center;
}

.storyAbout{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;
    background-color: #ccc;
}

.storyHeader{
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7%;
}

.storyHeaderImg{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
}

.storyHeaderImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.leftHeader{
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
}

.rightHearder{
    box-shadow: rgba(0, 0, 0, 0.068) 0px 5px 15px;
    cursor: pointer;
    font-size: 20px;
}

.time{
    z-index: 1;
}

.storyFooter{
    position: absolute;
    bottom: 0;
    color: white;
}

.storyImg{
    position: absolute;
    width: 100%;
    height: 790px;
    top: 0px;
    /* display: none; */
}

.storyHeader{
    z-index: 11212;
    color: white;
}

.storyImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0 auto;
}

.storyFooter{
    width: 100%;
    height: 8%;
    /* background-color:rgba(255, 255, 255, 0.128); */
    display: flex;
    gap: 50px; 
}

.footerLeft{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    margin-left: 10px;
}

.footerRight{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.footerRight svg{
    color: white;
    box-shadow: rgba(0, 0, 0, 0.094) 0px 5px 15px;
}


.footerLeft input{
    caret-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-left: 10px;
    width: 100%;
    height: 50%;
    border: 1px solid white;
    outline: none;
    border-radius: 20px;
    background-color: transparent;
}


.closeStory{
    position: fixed;
    top: 12px;
    right: 12px;
    font-size: 22px;
    color: white;
    z-index: 23212;
}

.iconsStory > div{
    position: absolute;
    z-index: 999;
    top: 47%;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.719);
    cursor: pointer;
}

.storyIconLeft{
    top: 10px;
    left: 21%;
    font-size: 150px !important;
    color: red;
    z-index: 12121212;
}

.storyIconRight{
    right: -6%;
}