.more{
    transition: .5s;
    width: 260px;
    height: 50vh;
    background-color: white;
    position: absolute;
    left: 15px;
    bottom: 90px;
    z-index: 2;
    /* display: flex !important; */
    /* align-items: center; */
    /* justify-content: center; */
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.morePaddingCenter{
    height: 2%;
    width: 100%;
    background-color: #F4F4F4;
}

.morePaddingBottom{
    margin: 7px 0px 0px 13px;
    width: 90%;
    height: 23%;
    /* background-color: red; */
}


.morePadding{
    margin: 15px 0px 0px 13px;
    width: 90%;
    height: 65%;
    /* background-color: red; */
}

.morePaddingBottom ul{
    display: flex;
    flex-direction: column;
    gap: 109px;
}

.morePaddingBottom ul li{
    font-size: 17px;
    padding: 11px;
    transition: .2;
    cursor: pointer;
}

.morePaddingBottom ul li span{
    display: block;
}

.morePaddingBottom ul li span::selection{
    background-color: transparent;
}

.morePaddingBottom ul li:hover{
    background-color: #f2f2ef;
    border-radius: 10px;
}

.morePadding ul a{
    color: black;
}

.morePadding ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 0px;
}

.morePaddingBottom ul{
    margin-top: 0px;
}

.morePadding ul li{
    font-size: 17px;
    padding: 15px;
    transition: .2s;
    cursor: pointer;
    margin-top: 0px;
}

.morePadding ul li svg{
    margin-right: 10px;
}

.morePadding ul li span{
    display: block;
    font-size: 14px;
}

.morePaddingBottom ul li span{
    font-size: 14px;
}

.morePadding ul li div{
    display: flex;
    align-items: center;
}

.morePadding ul li:hover{
    background-color: #f2f2ef;
    border-radius: 10px;
}

.morePadding ul li span::selection{
    background-color: transparent;
}


.darkFlexTop{
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    gap: 10px;
}

.darkFlexTop div:nth-child(1){
    cursor: pointer;
}

.darkFlexTop div:nth-child(2) p{
font-weight: 500;
}

.darkFlexBottom{
    padding: 3px;
    gap: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 7vh;
    transition: .5s;
    cursor: pointer;
}

.darkFlexBottom:hover{
    background-color: #f2f2ef;
    border-radius: 10px;
}

.darkFlexBottom div:nth-child(1) p{
    font-size: 14px;

}


.darkFlexTop div:nth-child(3){
    height: 1.6vh;
}



.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 18px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .sliderdark {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .sliderdark:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 1px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .sliderdark {
    background-color: #2196F3;
  }
  
  input:focus + .sliderdark {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .sliderdark:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(17px);
  }
  
  /* Rounded sliders */
  .sliderdark.round {
    border-radius: 34px;
  }
  
  .sliderdark.round:before {
    border-radius: 50%;
  }