.notify{
    background-color: #fffffc;
    position: fixed;
    /* border: 1px solid #ccc; */
    left: 65px;
    width: 25%;
    height: 100vh;
    transition: 0.5s;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  
  }
  
  .notifyTop{
    padding: 20px 20px;
    border-bottom: .5px solid #dbdbd9;
  }
  
  
  .notifyTop h2{
    margin-bottom: 40px;
  }
  
  .notifyTop input{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    outline: 0;
    background-color:#efefec ;
    border: none;
  }
  
  .notifyBottom{
    padding: 15px;
    height: 90%;
  }
  
  .notifyBos{
    height: 100%;
    display: grid;
    place-items: center;
  }